/* BUTTON */
.btn {
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:active {
    transform: scale(0.98);
}

.btn--outline {
    background-color: transparent;
    border: 1px solid #1E92E7;
}

.btn--blue {
    /* Внутренний отступ по меньшей кнопке (примерный отступ) */
    background: #1E92E7;
}

.btn--large {
    padding: 14px 20px;
}

.btn--small {
    padding: 9px 20px;
}

.btn--filter {
    padding: 9px 20px;
    color: #000;
}

.btn--filter.active {
    background: #1E92E7;
    color: #FFFFFF;
}

@media(hover:hover) {
    .btn:hover {
        background-color: #187fc9;
        color: #FFFFFF;
    }
}

@media(hover:hover) {
    .btn:active {
        background-color: #187fc9;
        color: #FFFFFF;
    }
}

/******** ИНДИКАТОРЫ ДЛЯ СЛАЙДЕРА ********/

.carousel__indicators {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.carousel__indicator {
    /* Запрещаем индикатору расширяться (flex-grow: 0), разрешаем ужиматься (flex-shrink: 1), устанавливаем базовый размер (flex-basis: 73px) */
    flex: 0 1 73px;
    background: #D9D9D9;
    /* Высота индикатора */
    height: 3px;
    /* Скругляем углы */
    border-radius: 1px;
    /* Если не установить данное свойство то углы не скруглятся */
    overflow: hidden;
}

.carousel__indicator.active {
    background-color: #1E92E7;
    border-radius: 1px;
}