/* ФОТО ГАЛЕРЕЯ */

/* Внутренние отступы секции */
.gallery {
    padding: 120px 0px 90px;
}

/* Нижний отступ для заголока секции */
.gallery__title {
    margin-bottom: 54px;
}

/* Слайдер галереи */
.gallery__carousel {
    /* Оступ от слайдера до буллетов */
    margin-bottom: 50px;
    /* Относительное позиционирование (относительно слайдера будем позиционировать блок с кнопками переключения картинок */
    position: relative;
    overflow: hidden;
}

/* Блок с кнопками переключения картинок */
.gallery__controls {
    /* Располагаем поверх слайдера */
    position: absolute;
    /* Растягиваем блок на всю ширину слайдера */
    width: 100%;
    /* Отступ от верхнего края родителя (50% высоты родителя - 20px (половина высоты кнопки)) */
    top: calc(50% - 20px);
    z-index: 10;
}

/* Контейнер слайдера галереи (относительно него позиционируем кнопки) */
.gallery__container {
    position: relative;
    max-width: 1180px;
    padding: 0;
}

.gallery__control {
    position: absolute;
    color: #1e92e7;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Кнопка назад */
.gallery__control--prev {
    /* Отодвигаем кнопку от контейнера на половину ее ширину */
    left: -20px;
    margin-left: 20px;
}

/* Кнопка вперед */
.gallery__control--next {
    /* Отодвигаем кнопку от контейнера на половину ее ширину */
    right: -20px;
    margin-right: 20px;
}

/* Список картинок */
.gallery__inner {
    /* Расположить рядом элементы списка */
    display: flex;
    /* Отступ между элементами */
    column-gap: 30px;
    /* Располагаем в начале главной оси */
    justify-content: flex-start;
}

/* Элемент списка (блок с картинкой) */
.gallery__photo {
    /* Запрещаем элементу растягиваться и ужиматься, базовый размер 575px */
    flex: 0 0 575px;
    /* Высота элемента */
    height: 382px;
    /* Тень (через фильтр) */
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
    /* Скругление углов */
    border-radius: 5px;
    /* Спрятать все что выходит за пределы блока */
    overflow: hidden;
}

/* Картинка */
.gallery__img {
    /* Ширина и высота как у родителя */
    width: 100%;
    height: 100%;
    /*  Масштабирует картинку так, чтобы она накрыла собой весь блок с сохранением пропорций. 
    Картинка будет стараться поместиться целиком, но это не всегда будет получаться, 
    поэтому какая-то ее часть будет обрезаться. Блок всегда будет покрыт картинкой целиком. */
    object-fit: cover;
}