/* Аренда */

/* Внутренние отступы секции */
.rent {
    padding: 120px 0px 100px;
}


/* Заголовок секции */
.section-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}

/* Отступ от заголовка секции Аренда */
.rent__title {
    margin-bottom: 15px;
}

/* Отступы от кнопок */
.filter-btns {
    margin-bottom: 50px;
    display: flex;
    column-gap: 10px;
}

/********************** Блок с селектом (появляется на мобильной версии) **********************************/

/* Обертка селекта */
.filter-select-wrap {
    position: relative;
    display: none;
}

/* Кастомная стрелка селекта */
.filter-select-wrap::after {
    /* Без этого не появится псевдоэлемент */
    content: "";
    width: 15px;
    height: 10px;
    /* По умолчанию псевдоэлемент является строчным, исправим это: */
    display: block;
    /* Стрелку добавим как фон данного блока */
    background: url(../../images/icons/arrow-down.svg) no-repeat center/contain;
    /* Позиционировать ее будем относительно родительского блока */
    position: absolute;
    /* Отступ 50% от верхнего края родительского блока */
    top: 50%;
    /* Сдвиним стрелку на 50% вверх относительно самой себя. Таким образом стрека окажется по вертекали в центре родительского блока */
    transform: translateY(-50%);
    /* Сейчас стрелка находится слева. Сместим ее вправо. Для этого добавим отступ от правого края родителя */
    right: 20px;

    /* Снять клик со стрелки */

    /* Свойство pointer-events позволяет управлять тем, как элементы будут реагировать
     на события мыши или прикосновения к сенсорному экрану. 
    none — запрещает элементу реагировать на указатель.
    То есть, при клике на кастомную стрелку ничего не происходит. Но если pointer-events
    установить в значение none то на ней клик срабатывать не будет а будет срабатывать 
    сквозь нее, то есть на стандартном селекте
     */
    pointer-events: none;
}


/* Стили селекта */
.filter-select {
    /* Убрать стандартную стрелку */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* Настройка границ */
    border: 1px solid #1E92E7;
    border-radius: 5px;

    /* Внутренние отступы */
    padding: 9px 50px 9px 20px;

    /* Настройка шрифта */
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

/* Убрать стрелку у IE 10 b 11 */
.filter-select::-ms-expand {
    display: none;
}

/********************************* КАРТОЧКИ В СЕКЦИИ АРЕНДА ******************************************/
.rent__carousel {}

.rent__carousel-container {
    position: relative;
}

.rent__carousel-inner {
    display: flex;
    column-gap: 20px;
    overflow-x: hidden;
    padding: 10px;
    margin: 0px -10px 50px;
}

/* ------ СТРЕЛКИ КАРУСЕЛИ -------- */
.carousel-control {
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%); */
    padding: 0;
}

.rent__carousel-control {
    color: #7a7a7a;
    top: 217px;
}

.rent__carousel-control--prev {
    left: 0px;
}

.rent__carousel-control--next {
    right: 0px;
}

/* ------------------------- Карточка предложений ----------------------------- */

.card {
    /* Делаем фиксированной ширины и запрещаем ужиматься */
    width: 380px;
    flex-shrink: 0;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: transform 0.3s;
}

/* Зададим обертке картинки фиксированную высоту */
.card__img {
    height: 222px;
}

/* Картинку растянем на ширину и высоту обертки*/
.card__img img {
    width: 100%;
    height: 100%;

    /* Элемент увеличивается или уменьшается, чтобы целиком заполнить заданную область с сохранением пропорций */
    object-fit: cover;
}

/* Содержимое под фото */
.card__content {
    padding: 33px 40px 40px;
}

/* Блок с информацией (под фото) */
.card__details {
    margin-bottom: 30px;
}

/* Элемент с информацией */
.card__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card__detail:last-child {
    margin-bottom: 0px;
}

/* Метка (площадь, этаж, интернет) */
.card__label {
    /* Настройки шрифта */
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;

    /* Разрешаем элементу занимать все свободное пространство */
    flex: 1;
    /* Делаем элемент flex-контейнером */
    display: flex;
}

/* Через псевдоэлемент задаем пунктирную линию (как в макете) */
.card__label:after {
    content: '';
    display: inline-block;
    border-bottom: 1px dashed #E6E6E6;
    flex: 1;
}

/* Значение которое установлено после пунктирной линии */
.card__value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
}

/* Модификатор для значения */
.card__value--status--true {
    color: #61CD66;
}

/* Кнопку растягиваем на ширину родителя */
.card .btn {
    width: 100%;
}